body {
  background-color: #1B1837;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  margin-left: 180px;
  background-color: #2A2649;
  padding: 10px 15px;
  min-width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  overflow-y: auto;
}

.barra {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza na barra */
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.item img {
  width: 20px;
}

.item p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: aliceblue;
}

.barra img {
  margin-top: 70px;
  width: 140px;
  display: block;
}

.nome_hub {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 40px;
}

.barra1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.barra_pesquisa {
  position: relative;
  margin-top: -250px;
  background-color: #2A2649;
  font-size: 15px;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  width: 700px; /* Define o tamanho da caixa de pesquisa */
  margin-left: 280px;
}

.barra_pesquisa input {
  border: none;
  background: transparent;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}

a {
  color: #ffffff;
}
