<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Dashboard</title>
</head>

<body>
  <div class="wrapper">
    <div class="sidebar">
      <header class="barra">
        <img src="assets/LogoHub.png" alt="Logo Hub Acadêmico">
      </header>
      <!-- Nome do Hub -->
      <p class="nome_hub">Hub Acadêmico</p>
      <div>
      <!-- Menu lateral -->
        <nav class="barra1">
          <div class="item">
            <img src="assets/casa (1).png" alt="casa">
            <a href="dashboard">Home</a>
          </div>
          <div class="item">
            <img src="assets/procurar (1).png" alt="lupa">
            <a href="search">Search</a>
          </div>
          <div class="item">
            <img src="assets/sino (1).png" alt="sino">
            <a href="notifications">Notifications</a>
          </div>
          <div class="item">
            <img src="assets/marca-paginas (1).png" alt="marca-paginas">
            <a href="saved">Saved Posts</a>
          </div>
          <div class="item">
            <img src="assets/do-utilizador (1).png" alt="do-utilizador">
            <a href="profile">Profile</a>
          </div>
        </nav>
      </div>
    </div>

    <div class="post">
      <textarea [(ngModel)]="postText" placeholder="O que você está pensando?" class="texto-caixa"></textarea>

      <button class="enviar" (click)="postar()">
        <p>Postar</p>
        <img src="assets/aviao.png" alt="" class="botao_envio">
      </button>

      <div *ngFor="let post of posts" class="post-container">
        <!-- Informações do usuário -->
        <div class="user-profile">
          <img [src]="'data:image/png;base64,' + post.profilePicture" alt="User Profile" class="profile-image">
          <div class="user-info">
            <p class="username">{{ post.username }}</p>
            <small class="post-time">{{ post.minutesAgo }}</small>
          </div>
        </div>

        <!-- Texto da postagem -->
        <p class="post-text">{{ post.description }}</p>

        <!-- Ícones de curtidas e comentários -->
        <div class="post-row">
          <div class="icons">
            <div class="icon-item">
              <img src="assets/likes.png" alt="Like">
              <span>{{ post.likes }}</span>
            </div>
            <div class="icon-item">
              <img src="assets/replies.png" alt="Comment">
              <span>{{ post.comments }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
