<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <header class="profile-header">
    <img src="assets/profile-cover.jpg" alt="Profile Cover" class="cover-image">
  </header>


  <section class="profile-details">
    <aside class="profile-left">
      <img [src]="getProfilePicture()" alt="Profile Image" class="profile-image">
      <div class="user-info">
        <h3>{{ userProfile.name || "" }}</h3>
        <p class="username" style="color: gray;">&#64;{{ userProfile.username || ""}}</p>
        <p class="bio">{{ userProfile.bio || "" }}</p>
      </div>
    </aside>

    <aside class="profile-right">
      <button type="button" (click)="showModal()">Editar Perfil</button>
      <div class="stats">
        <p><b>20</b> Following</p>   <!-- criar essas variaveis no back -->
        <p><b>120</b> Followers</p>
      </div>
    </aside>
  </section>

  <section id="editModal" class="modal">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">&times;</button>
      <h2>Editar Perfil</h2>
      <form id="editProfileForm" onsubmit="submitForm(event)">
        <label for="name">Nome</label>
        <input type="text" id="name" placeholder="Digite seu nome" required>

        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Digite seu username" required>

        <label for="bio">Bio</label>
        <textarea id="bio" placeholder="Digite uma breve descrição sobre você" required></textarea>

        <label for="profileImage">Imagem de Perfil</label>
        <input type="file" id="profileImage" onchange="onImageChange(event)">
        <button type="submit">Salvar Alterações</button>
      </form>
    </div>
  </section>

  <main class="profile-info">
    <section class="posts">
      <article class="post" *ngFor="let post of userProfile?.posts">
        <header class="post-header">
          <img [src]="getProfilePicture()" alt="Profile Image">
          <div class="post-info">
            <p>{{ userProfile.name || "" }}</p>
            <time [attr.datetime]="post.dateAndTimeOfPublication"> {{ post.dateAndTimeOfPublication | date:'short'}} </time>
          </div>
        </header>
        <p class="post-text">{{ post.description || "" }}</p>
        <footer class="post-footer">
          <span><img src="assets/likes.png" alt="Likes">{{ post.likes || "0" }}</span>
          <span><img src="assets/replies.png" alt="Replies">{{ post.comments.length || "0" }}</span>
        </footer>
      </article>
    </section>
  </main>
</body>
</html>
