/* Define o fundo do corpo e gerencia a rolagem */
body {

  background-color: #18162b;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.profile-header {

  max-width: 800px;
  margin: 0px auto;
  padding: 50 20px;

}

.cover-image {

  width: 100%;
  border-radius: 6px;

}

.profile-details {

  max-width: 800px;
  margin: -25px auto;
  padding: 20px;
  background: #1c183d;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  margin-bottom: 5px;

}

.profile-left {

  display: flex;
  align-items: flex-start;
  gap: 20px;

}

.profile-left p {

  margin-top: -4px;
  margin-bottom: 15px;

}

.profile-left h3 {

  font-size: 20px;

}

.profile-image {

  width: 120px;
  margin-top: -40px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

}

.profile-right {

  display: flex;
  flex-direction:column;
  align-items: flex-end;
  gap: 10px;

}

.stats {

  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
  cursor: pointer;

}

.profile-left p, .profile-right p {

  font-size: 14px;

}

.profile-right button {

  background: #241452;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

/* Estilos para as postagens */
.post {

  background: #1c183d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 20px;
  margin: 1px 0;
  color: #fff;

}

.post-header {

  display: flex;
  align-items: center;

}

.post-info {

  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;

}

.post-header img {

  width: 45px;
  border-radius: 50%;
  margin-right: 10px;

}

.post-header p {

  font-weight: 500;
  color: #ffffff;

}

.post-header time {

  font-size: 12px;
  color: rgba(255, 255, 255, 0.466);

}

.post-text {

  font-size: 15px;
  margin: 0px 0 20px 55px;

}

.post-footer {

  display: flex;
  justify-content: flex-end;
  gap: 6px;

}


.post-footer span {

  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  line-height: 1.1;

}

.post-footer span:last-child img {

  transform: translateY(0px);

}

.post-footer img {

  width: 18px;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  transform: translateY(1px);

}

/* Estilos adicionais */
.profile-info {

  width: 100%;
  max-width: 800px;
  margin: 0 auto;

}

.posts {

  padding: 0;
  margin: 0;

}

.posts .post {

  margin: 15px 0;

}

/* Modal oculto */
.modal {

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

/* Conteúdo do modal */
.modal-content {

  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(85, 85, 85);
  width: 60%;

}

/* Botão de fechar */
.close-btn {

  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 0;
  color: white;

}

input, textarea {

  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

textarea {

  resize: none;
  min-height: 80px;

}

/* Botão de salvar */
button[type="submit"] {

  background-color: #1B1837;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 300px;

}

button[type="submit"]:hover {

  background-color: #333;

}

/* Estilos do formulário */
form > * {

  margin-bottom: 15px;

}
