<app-default-login-layout
  title="Sign in and start today!"
  primaryBtnText="Signup Now"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid">
  <form [formGroup]="signupForm">
    <div class="row">
      <app-primary-input class="name"
                         formControlName="name"
                         inputName="name"
                         type="text"
                         label="Your Name"
                         placeholder="Cirilo">
        <img src="assets/user.png" alt="User Icon"/>
      </app-primary-input>
      <app-primary-input class="lastname"
                         formControlName="last name"
                         inputName="last name"
                         type="text"
                         label="Your Last Name"
                         placeholder="Da Silva">
        <img src="assets/user.png" alt="User Icon"/>
      </app-primary-input>
    </div>
    <app-primary-input class="username"
                       formControlName = "username"
                       inputName="username"
                       type="text"
                       label="Your Username"
                       placeholder="pedrop">
      <img src="assets/user.png" alt="https://www.flaticon.com/br/icones-gratis/do-utilizador do-utilizador ícones Do-utilizador ícones criados por Tempo_doloe - Flaticon"/>
    </app-primary-input>
    <app-primary-input class="email"
                       formControlName = "email"
                       inputName="email"
                       type="email"
                       label="Email"
                       placeholder="pedrop@gmail.com">
      <img src="assets/svg/email.svg"/>
    </app-primary-input>
    <div class="role">
      <label for="roles">Qual sua função ?</label>
      <select name="roles" id="roles">
        <option value="Student">Estudante</option>
        <option value="Professor">Professor</option>
        <option value="Coordinator">Coordenador</option>
      </select>
    </div>

    <div class="course">
      <label for="course">Qual seu curso ?</label>
      <select name="courses" id="course">
        <option value="Analise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
        <option value="Tecnico em Informatica">Técnico em Informática</option>
        <option value="Tecnico em Energias Renovaveis">Técnico em Energias Renováveis</option>
      </select>
    </div>

    <app-primary-input class="password"
                       formControlName="password"
                       inputName="password"
                       type="password"
                       label="Your Password">
      <img src="assets/svg/password.svg"/>
    </app-primary-input>
    <app-primary-input class="passwordConfirm"
                       formControlName="passwordConfirm"
                       inputName="passwordConfirm"
                       type="password"
                       label="Confirm your Password">
      <img src="assets/svg/password.svg"/>
    </app-primary-input>
  </form>
</app-default-login-layout>

