<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notifications</title>
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <header class="barra">
        <img src="assets/LogoHub.png" alt="Logo Hub Acadêmico">
      </header>
      <!-- Nome do Hub -->
      <p class="nome_hub">Hub Acadêmico</p>
      <div>
      <!-- Menu lateral -->
        <nav class="barra1">
          <div class="item">
            <img src="assets/casa.png" alt="casa">
            <p>Home</p>
          </div>
          <div class="item">
            <img src="assets/procurar.png" alt="lupa">
            <p>Search</p>
          </div>
          <div class="item">
            <img src="assets/sino-selecionado.png" alt="sino">
            <p>Notifications</p>
          </div>
          <div class="item">
            <img src="assets/marca-paginas.png" alt="marca-paginas">
            <p>Saved Posts</p>
          </div>
          <div class="item">
            <img src="assets/do-utilizador.png" alt="do-utilizador">
            <p>Profile</p>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <section class="content">
    <header>
      <p>Notifications <span class="alert"> 2</span></p>
      <p class="toggle">Mark all as read</p>
    </header>

      <div class="user1-info" id="info">
        <img src="assets/user2-photo.jpg" alt="user1-photo" class="user-photo">
        <div class="text">
          <p><span>Pedrin FUME</span> reagiu ao seu post
            <span class="event">Como eu comecei a fumar
              <span class="dot"></span>
            </span>
          </p>
          <small>3m ago</small>
        </div>
      </div>


      <div class="user2-info" id="info">
        <img src="assets/profile-image.png" alt="user1-photo" class="user-photo">
        <div class="text">
          <p><span>Robertin Atirador</span> seguiu você
              <span class="dot"></span>
          </p>
          <small>5m ago</small>
        </div>
      </div>

  </section>

</body>
</html>
